.shell {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 0;
    /* Generous vertical whitespace */
    transition: background-color 0.5s ease;
}

.shell main {
    width: 100%;
    max-width: var(--max-width-container);
    padding: 0 var(--padding-horizontal);
}

@media (max-width: 768px) {
    .shell {
        padding: 5vh 0;
    }

    .shell main {
        padding: 0 var(--padding-horizontal-mobile);
    }
}